@charset "utf-8";

html{
    font-size:62.5%;
}

body{
    color:#333333;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size:1.6rem;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover{
    color: #333333;
}
  
a:active{
    color: #f0c817;
}

.text-center{
    text-align: center;
}

.wrapper{
    max-width: 1140px;
    margin: auto;
}

/*--------------------
     hero-image
--------------------*/
.hero-image{
    position: relative;
}

.hero-image__title{
    width: 860px;
    position: absolute;
    top: 14vw;
    left: 22vw;
    color: #fff;
    font-size: 3.6vw;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.hero-image__text{
    width: 860px;
    position: absolute;
    top :19vw;
    left: 16vw;
    color: #fff;
    font-size: 2.5vw;
    letter-spacing: 0.1em;
}

/*--------------------
        header
--------------------*/
.header{
    background-color: #fff;
    border: solid 1px #dbdada;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
}

.header__logo{
    width: 250px;
    margin: 0 10%;
}

.header__inner{
    margin: 0 60px 0 0;
}
    

.header__list{
    display: flex;
}

.header__item{
    width: 10vw;
    font-size: 1.8vw;
    margin: 0 5%;
}

/*--------------------
        about
--------------------*/
.about{
    padding: 80px 0 40px;
}

.about__wrapper{
    max-width: 680px;
    margin: auto;
}

.about__title{
    color: #f0c817;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 28px;
}

.about__subtitle{
    font-size: 1.6rem;
    margin: 0 0 36px;
}

.about__text{
    width: auto;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 28px;
    white-space: nowrap;
}

.about__eyecatch{
    margin: auto;
}

/*--------------------
        course
--------------------*/
.course{
    padding: 40px 0;
}

.course__wrapper{
    max-width: 540px;
    margin: auto;
}

.course__title{
    color: #333;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 18px;
}

.course__subtitle{
    font-size: 1.6rem;
    margin: 0 0 24px;
}

.course__text{
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 36px;
    white-space: nowrap;
}

.course__list{
    display: flex;
    flex-wrap: wrap;
}

.course__item{
    width: 50%;
}

.course__block{
    background-color: #f5f1f1;
    max-height: 384.45px;
    height: 33vw;
}

.course__contents-wrapper{
    width: 75%;
    margin: 20% 15% 20% 10%;
}

.course__header{
    font-size: 1.6rem;
    font-weight: bold;
    margin:  0 0 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.course__contents{
    font-size: 1.4rem;
    text-align: justify;
    line-height:1.75;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-height: 15vw;
    
}

/*--------------------
        news
--------------------*/
.news{
    padding: 40px 0;
}

.news__wrapper{
    max-width: 1020px;
    margin: auto;
}

.news__title{
    color: #f0c817;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 18px;
}

.news__subtitle{
    font-size: 1.6rem;
    margin: 0 0 24px;
}

.news__list{
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
}

.news__item{
    width: 32%;
}

.news__eyecatch{
    margin: 0 0 24px;
}
.news__inner{
    padding: 0 10px;
}

.news__heading{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news__contents{
    max-height: 150px;
    font-size: 1.4rem;
    margin: 0 0 10px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.news__dating{
    font-size: 1rem;
    color: #808080;
}

.btn{
    display: block;
    width: 214px;
    margin: auto;
    padding: 21px 0;
    background-color:#f0c817;
    color: #fff;
    font-size: 1.6rem;
}

/*--------------------
        access
--------------------*/
.access{
    padding: 40px 0;
    background-color: #f5f1f1;
    max-width: 1140px;
    margin: auto;
}


.access__wrapper{
    width: auto;
    margin: auto;
}

.access__title{
    color: #333;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 18px;
}

.access__subtitle{
    font-size: 1.6rem;
    margin: 0 0 24px;
}

.access__list{
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.access__item{
    width: 35%;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 5% 10px 0;
    text-align: right;
}

.access__contents{
    width: 60%;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--------------------
        contact
--------------------*/
.contact{
    padding: 40px 0;
}

.contact__wrapper{
    width: auto;
    margin: auto;
}

.contact__title{
    color: #333;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 18px;
}

.contact__text{
    font-size: 1.6rem;
    margin: 0 0 24px;
    line-height: 1.75;
    white-space: nowrap;
}

.form-inner{
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px;
}

.form-title{
    width: 150px;
    margin: 0 20px 0 0;
    padding: 0 0 10px;
    font-weight: bold;
    text-align: right;
}

.form-item{
    width: 400px;
    margin: 0 0 20px;
}

.form-label{
    margin: 0 16px 0 0;
    font-size: 1.4rem;
    line-height: 1.5;
    
}

.form-parts{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 80%;
    padding: 6px;
    border: solid 1px #c9c9c9;
    font-size: 1.6rem;
}

input[type*="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
    border: solid 1px #a0a0a0;
    border-radius: 100%;
    vertical-align: -1px;
}

input[type*="radio"]:checked{
    background-color: #a0a0a0;
}

.btn-submit{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}

/*--------------------
        footer
--------------------*/
.footer{
    padding: 24px 0;
    background-color: #666565;
}

.copyrights{
    color: #fff;   
}